body{
    overflow-x: hidden;
    margin: 0;
    position: relative;
}
.header{
    width:100%;
    height:85px;
    background-color: #203232;
    position: relative; 
    overflow: hidden;
}
.img1{
    width:15%;
    height: 35px;
    margin-top: 25px;
    margin-left:25px;
    position: absolute;
}
.b1{
    background-color: transparent;
    border: transparent;
    margin-left: 90%;
    margin-bottom: 30px;
    margin-top: 35px;
position: absolute;

}
.b1:hover{
    padding: 20px;
color: #333b3b;
}
.img3{
    width: 30%;
}
.body{
    background-image: url('Images/Online-student-on-a-laptop.jpg');
    width: 100%;
    height: 75%;
    /* opacity: 90%; */
    position: relative;
    background-size: cover;
}
.text{
    width:22%;
    height: 30%;
    display: inline-block;
    font-style: normal;
    font-size: xx-large;
    position: absolute;
margin-left: 72%;
margin-top: 100px;
background-color:#203232;
background-size: contain;
position:absolute;
}
.text2{
    width: 100%;
    display: inline-block;
    text-align: center;
    color: white;
    text-align: center;
}
.text3{
    position:absolute;
    font-size: xx-large;
    margin-top: 18%;
    margin-left: 60%;
}
.text4{
    color: white;
}
.b2{
    background-color: transparent;
border: transparent ;
    margin-left: 90%;
    margin-top: 27px;
    position: absolute;
}
.b3{
    position: absolute;
    margin-left: 68%;
    margin-top: 27%;
}
.b4{
    border: transparent;
    color: white;
    background-color:#9c5fb5;
    font-size:18px;
     width: 175px;
     height: 60px;
     background: linear-gradient(to left, #9c5fb5 50%, rgb(101, 67, 133)50%) right;
     background-size: 200%;
     transition: .3s ease-out;
}
.b4:hover{
    text-decoration: underline;
    background-position: left;
}
 .b5{
    border: transparent;
    color: white;
    background-color:#9c5fb5;
    font-size:18px;
     width: 175px;
     height: 60px;
     background: linear-gradient(to left, #9c5fb5 50%, rgb(101, 67, 133)50%) right;
     background-size: 200%;
     transition: .3s ease-out;
 }   
 .b6{
    position: absolute;
    margin-left: 83%;
    margin-top: 27%;
 }
 .b5:hover{
    text-decoration: underline;
    background-position: left;
 }
 .searchbar{
    width: 100%;
    background-color: #203232;
    position: absolute;
    height: 89px;
    margin-top: 38%;
 }
 .search{
    position: absolute;
    width: 100%;
    height: 100px;
    margin-top: 15px;
    margin-left: 14.5%;
 }
 .bar{
    width: 70%;
height: 60px; 
}
.searchIcon{
position: absolute;
    padding-bottom: 50px;

}
.img4{
    height: 80px;
    width: 100%;
    position:absolute;
    margin-top: 49%;
    margin-left: 148px;
}
.img5{
    width: 25%;
    transition: transform .5s
    
}
.img5:hover{
    transform: scale(1.1); 
}
.img6{
    position: absolute;
    width: 100%;
    margin-top:49%;
    margin-left: 37.5%;
}
.img7{
    width:25%;
    transition: transform .5s
}
.img7:hover{
    transform: scale(1.1); 
}
.img9{
width: 25%;
transition: transform .5s
}
.img9:hover{
    transform: scale(1.1); 
}
.img8{
    position: absolute;
    width:100% ;
    margin-top: 49%;
    margin-left: 64%;
}
.text5{
    position: absolute;
    font-size: large;
    margin-top:68.5%;
    margin-left: 175px;
}
.text6{
    position: absolute;
    margin-top: 74%;
margin-left: 175px;
font-size: 16px;
font-family:helvetica ;
}
.text7{
    position: absolute;
    margin-top: 68.5%;
    margin-left: 40%;
    font-size: large;
}
.text8{
    position: absolute;
    font-family:helvetica ;
    font-size: 16px;
    margin-top: 74%;
    margin-left: 40%;
}
.text9{
    position: absolute;
    font-size: large;
    margin-top: 68.5%;
    margin-left: 66.1%;
}
.text10{
position: absolute;
font-family:helvetica ;
font-size: 16px;
margin-top: 74%;
margin-left: 66.2%;
}
.b7{
    position:absolute;
    margin-left: 175px;
    margin-top: 78.5%;
}
.b8{
    border: transparent;
    color: white;
    background-color:#9c5fb5;
    font-size:18px;
     width: 175px;
     height: 60px;
     background: linear-gradient(to left, #9c5fb5 50%, rgb(101, 67, 133)50%) right;
     background-size: 200%;
     transition: .3s ease-out;
}
.b8:hover{
    text-decoration: underline;
    background-position: left;
}
.b9{
    position: absolute;
    margin-left: 40%;
    margin-top: 78.5%;
}
.b10{
    border: transparent;
    color: white;
    background-color:#9c5fb5;
    font-size:18px;
     width: 175px;
     height: 60px;
     background: linear-gradient(to left, #9c5fb5 50%, rgb(101, 67, 133)50%) right;
     background-size: 200%;
     transition: .3s ease-out;
}
.b10:hover{
    text-decoration: underline;
    background-position: left;
}
.b11{
position: absolute;
margin-left: 66.2%;
margin-top: 78.5%;
}
.b12{
    border: transparent;
    color: white;
    background-color:#9c5fb5;
    font-size:18px;
     width: 175px;
     height: 60px;
     background: linear-gradient(to left, #9c5fb5 50%, rgb(101, 67, 133)50%) right;
     background-size: 200%;
     transition: .3s ease-out;
}
.b12:hover{
    text-decoration: underline;
    background-position: left;
}
.page3{
    position: absolute;
    width:100%;
    height: 130%;
    margin-top: 92%;
    background-color: #9c5fb5;
}
.text11{
position: absolute;
font-size: 45px;
font-family: helvetica;
color: white;
margin-top: 45px;
margin-left: 70px;
}
.text12{
    position: absolute;
    font-family: helvetica;
    font-size: 50px;
    margin-top: 149%;
    margin-left: 34%;
}
.img10{
    position: absolute;
    height: 100%;
    margin-top: 205px;
    margin-left: 30px;
}
.img11{
    height: 70%;
}
.text13{
    position: absolute;
    font-size: 23px;
    font-family: helvetica;
    color: white;
    margin-left: 70%;
    margin-top: 465px;
}
.b13{
    position: absolute;
    margin-left: 70%;
    margin-top: 600px;
}
.b14{
    font-size: 18px;
    color: white;
    font-family:helvetica ;
    background-color: transparent;
    border: transparent;
    transition: color 0.5s;
}
.b14:hover{
    text-decoration: underline;
    color: black;
}
.img12{
    position: absolute;
    height: 100%;
    margin-top: 155%;
    margin-left: 540px;
}
.img13{
    height: 80%;
}
.b15{
    position: absolute;
    margin-left: 140px;
    margin-top: 155%;
    height: 100px;
}
.b16{
    height: 70px;
    width: 380px;   
    color: rgb(0, 0, 0);
    font-family: helvetica;
    font-size: 19px;
    border: transparent;
    padding-right: 175px;
    background: linear-gradient(to left, rgb(255, 255, 255) 50%, #203232 50%) right;
    background-size: 200%;
    transition: .5s ease-out; 
}
.b16:hover{
    color: white;
text-decoration: underline;
background-position: left;
}
.b17{
    position: absolute;
    margin-left: 140px;
    margin-top: 160%;
    height: 100px;
}
.b18{
    height: 70px;
    width: 380px;   
    color: rgb(0, 0, 0);
    font-family: helvetica;
    font-size: 19px;
    border: transparent;
    padding-right: 175px;
    background: linear-gradient(to left, rgb(255, 255, 255) 50%, #203232 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.b18:hover{
    color: white;
    text-decoration: underline;
    background-position: left;
}
.b19{
    position: absolute;
    margin-left: 140px;
    margin-top: 165%;
    height: 100px;
}
.b20{
    height: 120px;
    width: 380px;   
    color: rgb(0, 0, 0);
    font-family: helvetica;
    font-size: 19px;
    border: transparent;
    padding-right: 100px;
    background: linear-gradient(to left, rgb(255, 255, 255) 50%, #203232 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.b20:hover{
    color: white;
    text-decoration: underline;
    background-position: left;
}
.b21{
    position: absolute;
    margin-top: 175%;
    margin-left: 155px;
}
.b22{
    border: transparent;
    color: white;
    background-color:#9c5fb5;
    font-size:18px;
     width: 175px;
     height: 60px;
     background: linear-gradient(to left, #9c5fb5 50%, rgb(101, 67, 133)50%) right;
     background-size: 200%;
     transition: .3s ease-out;
}
.b22:hover{
    text-decoration: underline;
    background-position: left;
}
.footer{
    position: absolute;
    width:100%;
    height: 80%;
    background-color:  #203232;
    margin-top: 195%;
}
.text14{
position: absolute;
color: white;
font-size: 30px;
font-family:helvetica ;
margin-left: 100px;
margin-top: 50px;
}
.text15{
    position: absolute;
    margin-left: 100px;
    margin-top: 100px;
}
.text16{
    color: white;
    font-family:helvetica;
    font-size: 18px;
    text-decoration: transparent;
    transition:  text-decoration .2s ease-out;
}
.text16:hover{
    text-decoration: underline;
}
.text17{
    position: absolute;
    margin-left: 100px;
    margin-top: 145px;
}
.text18{
    color: white;
    font-family:helvetica;
    font-size: 18px;
    text-decoration: transparent;
    transition:  text-decoration .2s ease-out;
}
.text18:hover{
    text-decoration: underline;
}
.text19{
position: absolute;
margin-left: 100px;
margin-top: 190px;
}
.text20{
    color: white;
    font-family:helvetica;
    font-size: 18px;
    text-decoration: transparent;
    transition:  text-decoration .2s ease-out;
}
.text20:hover{
    text-decoration: underline;
}
.text21{
position: absolute;
margin-left: 100px;
margin-top: 235px;
}
.text22{
    color: white;
    font-family:helvetica;
    font-size: 18px;
    text-decoration: transparent;
    transition:  text-decoration .2s ease-out;
}
.text22:hover{
    text-decoration: underline;
}
.text23{
    position: absolute;
color: white;
font-size: 30px;
font-family:helvetica ;
margin-left: 450px;
margin-top: 50px;
}
.text24{
position: absolute;
margin-left: 450px;
margin-top:100px ;
}
.text25{
    color: white;
    font-family:helvetica;
    font-size: 18px;
    text-decoration: transparent;
    transition:  text-decoration .2s ease-out;
}
.text25:hover{
    text-decoration: underline;
}
.text26{
    position: absolute;
    margin-left: 450px;
    margin-top: 145px;
}
.text27{
    color: white;
    font-family:helvetica;
    font-size: 18px;
    text-decoration: transparent;
    transition:  text-decoration .2s ease-out;
}
.text27:hover{
    text-decoration: underline;
}
.text28{
    position: absolute;
    margin-left: 450px;
    margin-top: 190px;
}
.text29{
    color: white;
    font-family:helvetica;
    font-size: 18px;
    text-decoration: transparent;
    transition:  text-decoration .2s ease-out;
}
.text29:hover{
    text-decoration: underline;
}
.text30{
    position: absolute;
    margin-left: 450px;
    margin-top: 235px;
}
.text31{
    color: white;
    font-family:helvetica;
    font-size: 18px;
    text-decoration: transparent;
    transition:  text-decoration .2s ease-out;
}
.text31:hover{
    text-decoration: underline;
}
.text32{
    position: absolute;
    color: white;
    font-size: 30px;
    font-family:helvetica ;
    margin-left: 750px;
    margin-top: 50px;
}
.text33{
position: absolute;
margin-left: 750px;
font-size: 18px;
color: white;
font-family: helvetica;
margin-top: 100px;
}
.text34{
    position: absolute;
    margin-left: 750px;
    font-size: 18px;
    color: white;
    font-family: helvetica;
    margin-top: 145px;
}
.text35:hover{
    text-decoration: underline;
}
.text35{
    color: white;
    font-family:helvetica;
    font-size: 18px;
    text-decoration: transparent;
    transition:  text-decoration .2s ease-out;
}
.text36{
    position: absolute;
    margin-left: 750px;
    font-size: 18px;
    color: white;
    font-family: helvetica;
    margin-top: 190px;
}
.text37:hover{
    text-decoration: underline;
}
.text37{
    color: white;
    font-family:helvetica;
    font-size: 18px;
    text-decoration: transparent;
    transition:  text-decoration .2s ease-out;
}
.text38{
    position: absolute;
    margin-left: 750px;
    font-size: 18px;
    color: white;
    font-family: helvetica;
    margin-top: 235px;
}
.text39{
    color: white;
    font-family:helvetica;
    font-size: 18px;
    text-decoration: transparent;
    transition:  text-decoration .2s ease-out;
}
.text39:hover{
    text-decoration: underline;
}
.text40{
    position: absolute;
    color: white;
    font-size: 30px;
    font-family:helvetica ;
    margin-left: 1030px;
    margin-top: 50px;
}
.text41{
    position: absolute;
    margin-left:999 ;
    margin-top: 100px;
}
@font-face {
    font-family: helvetica;
    src: url(HelveticaNowText-Medium.ttf);
}